*.exe
*.pdb
*.suo
*.cache
*.Cache
*.cache
WindowsFormsApplication1/obj/Debug/Restaurante.csproj.GenerateResource.Cache
*.Cache
WindowsFormsApplication1/obj/Debug/Restaurante.csprojResolveAssemblyReference.cache
*.suo
WindowsFormsApplication1/Restaurante.csproj
*.exe
*.pdb
*.Cache
*.cache